body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: burlywood;
}

#main-title {
    text-align: center;
    font-size: 50px;
}

.content {
    margin-bottom: 12px;
}